<div class="app-wrapper">
  <div class="header">
    <div class="header-section">
      <div class="file-selection-containera">
        <mat-form-field>
          <input
            matInput
            disabled
            placeholder="Input Data Set"
            [value]="inputDataSetFileName"
          />
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="inputDataSetFile.click()">
          <mat-icon aria-label="Upload Input Data Set">unarchive</mat-icon>
          <input
            #inputDataSetFile
            type="file"
            style="display:none;"
            (change)="getInputDataSetFile($event)"
          />
        </button>
      </div>
      <div class="file-selection-containera">
        <mat-form-field>
          <input
            matInput
            disabled
            placeholder="Output Data Set"
            [value]="outputDataSetFileName"
          />
        </mat-form-field>
        <button
          mat-mini-fab
          color="primary"
          (click)="outputDataSetFile.click()"
        >
          <mat-icon aria-label="Upload Output Data Set">unarchive</mat-icon>
          <input
            #outputDataSetFile
            type="file"
            style="display:none;"
            (change)="getOutputDataSetFile($event)"
          />
        </button>
      </div>
    </div>
    <div class="header-section data-section">
      <p>Rows: {{ gridRows }}</p>
      <p>Columns: {{ gridColumns }}</p>
    </div>
    <div class="header-section data-section">
      <p>Min. Ingredients: {{ minIngredients }}</p>
      <p>Max. Slice Size: {{ maxSliceSize }}</p>
    </div>
    <div class="header-section data-section">
      <p class="total">Cells Cut: {{ cutCellsCount }}</p>
      <div class="controls">
        <button
          mat-mini-fab
          color="primary"
          [disabled]="!canBeStarted()"
          (click)="start()"
        >
          <mat-icon aria-label="Play">play_arrow</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="secondary"
          [disabled]="!canBePaused()"
          (click)="pause()"
        >
          <mat-icon aria-label="Pause">pause</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="warn"
          [disabled]="!canBeStopped()"
          (click)="stop()"
        >
          <mat-icon aria-label="Stop">stop</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="grid-container" *ngIf="isInputDataLoaded">
    <div class="grid" [style.grid-template-columns]="getGridColumnsForCss()">
      <ng-container *ngFor="let cellRows of grid">
        <app-grid-cell
          *ngFor="let cell of cellRows"
          [cell]="cell"
          [shouldDisplayText]="gridColumns * gridRows < 1000"
        ></app-grid-cell>
      </ng-container>
    </div>
  </div>
</div>
