<div
  [@cut]="cell.isCut"
  [style.background]="cell?.ingredient === 'T' ? '#FF000055' : '#33333333'"
  [style.border-top]="cell.borderTop ? '4px solid blue' : '1px solid black'"
  [style.border-left]="cell.borderLeft ? '4px solid blue' : '1px solid black'"
  [style.border-bottom]="
    cell.borderBottom ? '4px solid blue' : '1px solid black'
  "
  [style.border-right]="cell.borderRight ? '4px solid blue' : '1px solid black'"
>
  <span *ngIf="shouldDisplayText">{{ cell.ingredient }}</span>
</div>
